@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	/* -webkit-app-region: drag; */
	background-color: transparent;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	text-align: center;
	color: #edff14;
	user-select: none;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
    width: 0px;
}

#close {
	padding: 5px;
	font-size: 0.8em;
	color: grey;
	-webkit-app-region: no-drag;
	justify-self: flex-end;
	margin-top: 20%;
}

#title {
	color: black;
	margin-top: 30px;
	font-size: 18px;
}

#close:hover {
	color: #14ff62;
}

.background {
	background-color: rgb(229, 229, 229);
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 120px;
	align-items: center;
	/* opacity: 90%; */
	border-radius: 10px;
}

.util-button {
	margin-top: 8px;
	margin-bottom: 45px;
	margin-right: 20px;
	margin-left: 20px;
	width: 84px;
	height: 84px;
	border-radius: 10px;
	/* border: 1px black solid; */
	border: none;
	background-color: rgb(229, 229, 229);
	transition: 0.25s;
}

.util-button:hover {
	cursor: pointer;
	background-color: rgb(214, 214, 214);
}

#overall {
	display: flex;
	flex-direction: row;
}

.arrow {
	/* border: solid black;
	border-width: 0 3px 3px 0; */
	/* display: inline-block; */
	padding: 3px;
	margin-right: 4px;
}

.arrow2 {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-right: 4px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.pullbar1 {
	width: 20px;
	align-self: center;
	background-color: rgb(229, 229, 229);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 650px;
	border-radius: 4px;
	height: 200px;
}

.pullbar2 {
	width: 20px;
	align-self: center;
	background-color: rgb(229, 229, 229);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 650px;
	/* border-radius: 4px; */
}
.evenly {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
}
